:root {
    --celeste-claro: #EAF9FC;
    --celeste: #CDECF5;
    --azul-suave: #89CFF0;
    --azul-medio: #3BAFDA;
    --azul-oscuro: #024E76;
    --blanco: #FFFFFF;
}

/* ESTILOS GENERALES */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--celeste-claro);
    color: var(--azul-oscuro);
    text-align: center;
}

/* ENCABEZADO */
header {
    background-color: var(--azul-medio);
    padding: 25px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 32px;
    letter-spacing: 3px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

header h1 img {
    width: 35px;
    height: 35px;
}

/* NAVEGACIÓN */
nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: var(--azul-oscuro);
}

/* BANNER PRINCIPAL */
.banner {
    background-color: var(--celeste);
    padding: 90px 50px;
    position: relative;
}

.banner h2 {
    font-size: 60px;
    color: var(--azul-oscuro);
}

.banner h3 {
    font-size: 62px;
    color: var(--azul-medio);
    margin: 15px 0;
}

.banner button {
    background-color: var(--azul-medio);
    color: white;
    border: none;
    padding: 22px 40px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.banner button:hover {
    background-color: var(--azul-oscuro);
}

.banner img.perrito {
    position: absolute;
    right: 8%;
    bottom: 10px;
    width: 250px;
}

.banner img.corazon {
    position: absolute;
    left: 8%;
    top: 35%;
    width: 250px;
}

/* SECCIÓN INICIO */
.inicio {
    background-color: var(--celeste);
    padding: 80px 20px;
}

.inicio h2 {
    font-size: 42px;
    margin-bottom: 60px;
    color: var(--azul-oscuro);
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 65px;
}

.caja {
    background-color: var(--blanco);
    border-radius: 30px;
    padding: 35px;
    width: 290px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

.caja:hover {
    transform: scale(1.05);
}

.caja img {
    width: 190px;
    height: auto;
    margin-bottom: 20px;
}

.caja button {
    background-color: var(--azul-medio);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.caja button:hover {
    background-color: var(--azul-oscuro);
}

/* SECCIÓN NOSOTROS */
.nosotros {
    background-color: var(--celeste-claro);
    padding: 50px 30px;
}

.nosotros h1 {
    background-color: var(--azul-suave);
    background-image: url('Hcafe.png');
    background-repeat: repeat;
    background-size: 100px;
    padding: 35px 0;
    color: var(--azul-oscuro);
    font-size: 50px;
}

.contenido-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.contenido-nosotros .texto {
    max-width: 810px;
}

.contenido-nosotros h2 {
    font-size: 48px;
    color: var(--azul-oscuro);
    margin-bottom: 30px;
}

.contenido-nosotros p {
    font-size: 27px;
    line-height: 1.6;
    color: #033b5c;
}

.contenido-nosotros img.animales {
    width: 460px;
    border-radius: 15px;
}

.contenido-nosotros img.decoracion {
    width: 190px;
}

/* SECCIÓN ADOPCIÓN */
.adopcion {
    background-color: var(--azul-suave);
    padding: 20px 20px;
    background-image: url('Hcafe.png');
    background-repeat: repeat;
    background-size: 20px;
}

.adopcion h2 {
    color: var(--blanco);
    font-size: 32px;
    margin-bottom: 20px;
}

.contenedor-mascotas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.tarjeta {
    background-color: var(--blanco);
    border-radius: 10px;
    width: 260px;
    padding: 35px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.tarjeta img {
    width: 100%;
    border-radius: 25px;
    height: 220px;
    object-fit: cover;
}

.tarjeta h3 {
    font-size: 30px;
    color: var(--azul-oscuro);
    margin: 12px 0 5px;
}

.tarjeta p {
    font-size: 20px;
    color: #033b5c;
    margin-bottom: 10px;
}

.tarjeta button {
    background-color: var(--azul-medio);
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.tarjeta button:hover {
    background-color: var(--azul-oscuro);
}

/* SECCIÓN DETALLE DE MASCOTA */
.detalle-mascota {
    background-color: var(--celeste);
    text-align: center;
    padding: 80px 20px;
}

.detalle-mascota h1 {
    background-color: var(--celeste-claro);
    color: var(--azul-oscuro);
    font-size: 28px;
    padding: 15px;
    background-image: url('Hcafe.png');
    background-repeat: repeat;
    background-size: 90px;
}

.tarjeta-detalle {
    background-color: var(--blanco);
    border-radius: 15px;
    padding: 50px;
    margin: 10px auto;
    max-width: 850px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tarjeta-detalle img {
    width: 400px;
    border-radius: 15px;
}

.texto-detalle {
    max-width: 340px;
    text-align: left;
}

.texto-detalle h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--azul-oscuro);
}

.texto-detalle h3 {
    font-size: 22px;
    font-weight: bold;
    color: var(--azul-medio);
}

.texto-detalle p {
    font-size: 20px;
    margin: 15px 0;
    line-height: 1.5;
}

.texto-detalle button {
    background-color: var(--azul-medio);
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.texto-detalle button:hover {
    background-color: var(--azul-oscuro);
}

/* SECCIÓN CONTACTO */
.contacto {
    background-color: var(--celeste);
    padding: 90px 20px;
    text-align: center;
}

.contacto h1 {
    background-color: var(--azul-suave);
    color: var(--azul-oscuro);
    font-size: 28px;
    padding: 15px;
    background-image: url('Hcafe.png');
    background-repeat: repeat;
    background-size: 90px;
}

.contacto h2 {
    color: var(--azul-oscuro);
    font-size: 35px;
    margin-bottom: 25px;
}

.bloques-contacto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 40px;
}

.texto-contacto {
    max-width: 800px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    color: #033b5c;
}

.mapa img {
    width: 400px;
    border-radius: 15px;
}

.footer-contacto {
    border-top: 2px solid var(--azul-oscuro);
    padding-top: 20px;
}

.redes img {
    width: 60px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.redes img:hover {
    transform: scale(1.2);
}

.correo {
    margin-top: 15px;
    font-size: 15px;
    color: var(--azul-oscuro);
}

/* PIE DE PÁGINA */
footer {
    background-color: var(--azul-oscuro);
    color: white;
    padding: 20px 0;
    font-size: 15px;
    margin-top: 40px;
}

.login-acceso {
    position: absolute;
    top: 20px;
    right: 30px;
}

.login-acceso a {
    background-color: #57b6ed;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.login-acceso a:hover {
    background-color: #57b6ed;
}

/*  Diseño responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    .contenedor,
    .contenedor-mascotas,
    .bloques-contacto,
    .tarjeta-detalle {
        flex-direction: column;
        align-items: center;
    }

    .banner h2,
    .banner h3 {
        font-size: 32px;
    }

    .banner img {
        display: none;
    }

    .caja,
    .tarjeta,
    .tarjeta-detalle {
        width: 90%;
    }

    .contenido-nosotros,
    .texto-detalle {
        text-align: center;
    }

    .mapa img {
        width: 100%;
    }
}

.boton-flotante {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--azul-medio);
  color: var(--blanco);
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
  z-index: 200;
}

.boton-flotante:hover {
  background-color: var(--azul-oscuro);
  transform: scale(1.05);
}

